.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: $white;
    @include shadow-md;
    @include rounded-lg;

    &-head,
    &-footer {
        height: 60px;
        position: relative;
        display: flex;
        align-items: center;
        padding-inline: 24px;

        &::after {
            content: '';
            position: absolute;
            left: 0.5rem;
            right: 0.5rem;
            height: 1px;
            background-color: $grey-200;
        }
    }

    &-head {
        justify-content: space-between;

        &::after {
            bottom: 0;
        }
    }

    &-main {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-inline: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    &-footer {
        gap: 1rem;

        &::after {
            top: 0;
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        &-main {
            padding-inline: 1rem;
        }
    }
}