.header {
    height: $header-h;
    background-color: $white;

    &-container {
        @include container;
        display: flex;
        justify-content: space-between;
    }

    &-logo {
        object-fit: contain;
        display: flex;
        align-items: center;
    }

    &-right,
    &-left {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &-item {
        height: fit-content;
    }
}