// Padding
.p-4 {
    padding: 1rem;
}

.px-4 {
    padding-inline: 1rem;
}

// Margin
.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mt-8 {
    margin-top: 2rem;
}

// Gap
.gap-4 {
    gap: 1rem;
}